:root {
    --accent: #3975e5;
    --bgcol: #292929;
    --bgcol2: #222222;
    --bgcol3: #494949;
    --textcol: #ffffff;
    --textcol2: #ffffff;
}
body {
    font-family: Arial, sans-serif;
    background-color: var(--bgcol);
    color: var(--textcol);
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    background: var(--bgcol2);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
h2 {
    color: var(--textcol);
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}
p {
    color: var(--textcol);
}
code {
    background-color: var(--bgcol3);
    padding: 2px 4px;
    border-radius: 4px;
    font-size: 90%;
}
pre {
    background-color: var(--bgcol3);
    padding: 10px;
    border-left: 4px solid #007BFF;
    overflow-x: auto;
}
.endpoint {
    margin-bottom: 20px;
}

header {
    background-color: var(--accent);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
}

#upload-button {
    padding: 10px 20px;
    background-color: var(--accent);
    color: var(--textcol);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#upload-button:hover {
    background-color: #2f5dbb;
}
a {
    color: #eee;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #eee;
    text-decoration: none;
}