:root {
    --accent: #3975e5;
    --bgcol: #292929;
    --bgcol2: #222222;
    --bgcol3: #494949;
    --bgcol4: #363636;
    --textcol: #ffffff;
    --textcol2: #ffffff;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bgcol);
    color: var(--textcol);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--accent);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 24px;
    font-weight: bold;
}

#upload-button {
    padding: 10px 20px;
    background-color: var(--accent);
    color: var(--textcol);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#upload-button:hover {
    background-color: #2f5dbb;
}

a {
    color: #eee;
    text-decoration: none;
}

a:hover {
    color: #ffffff;
    text-decoration: none;
}

a:visited {
    color: #eee;
    text-decoration: none;
}

.search-bar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.search-bar input,
.search-bar button {
    padding: 10px;
    font-size: 1em;
    border: 1px solid var(--textcol);
    border-radius: 5px;
    background-color: var(--bgcol2);
    color: var(--textcol);
}

.search-bar input::placeholder,
.search-bar button {
    color: #999;
}

#map-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    margin-top: 20px;
}

.map-card {
    background-color: var(--bgcol2);
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    height: 180px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    transition: transform 0.2s;
}

.map-card:hover {
    transform: scale(1.05);
}

.map-card h2 {
    font-size: 18px;
    margin: 0;
    margin-bottom: 10px;
}

.map-card p {
    margin: 5px 0;
}

.map-card button {
    padding: 10px;
    background-color: var(--accent);
    color: var(--textcol2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 90%;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
    margin: auto;
}

.map-card button:hover {
    background-color: #2f5dbb;
}

.map-card button:hover {
    background-color: #2f5dbb;
}

/* Popup Form */
.popup {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.7);
}

.popup-content {
    background-color: var(--bgcol2);
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    text-align: center;
}

.popup-content h2 {
    margin-top: 0;
}

.popup-content input[type="file"],
.popup-content input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: var(--bgcol3);
    color: var(--textcol);
}

.popup-content button {
    padding: 10px 20px;
    background-color: var(--accent);
    color: var(--textcol2);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    width: 90%;
}

.popup-content button:hover {
    background-color: #2f5dbb;
}

.popup-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.popup-content .close:hover,
.popup-content .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}
